

textarea {
    width:60%;    /* Full width of the container */
    height: 100px;  /* Fixed height */
    resize: vertical;
  }
  .aFolder{
    border: 2px solid;
    padding: 5px;
    display: inline-block;
    padding: 40px;
  }
  a{
    cursor: pointer;
  }