<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="/">Go back to Home</a>
    <h1>File name : - <%= fileName %>
    </h1>
    <h4>
        data is-  <%= data %>
    </h4>
</body>

</html>